html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

@font-face {
    font-family: 'poke';
    src: url('/fonts/PokemonGb-RAeo.ttf');
}

body{
    background-color: #a2dae6;
    margin: 0px;
    font-family: poke, sans-serif;

}

h1{
    display:flex;
    justify-content: center;
    background-color: #5EBDFC;
    margin: 0px;

}

#titleIMG{
    width: 100%;
    height: 100%;
}

h2{
    display:flex;                     
    justify-content: center;
    border-top: 4px solid rgb(136, 129, 129);
    border-bottom: 4px solid rgb(136, 129, 129);
    margin-top: 0px;
    margin-bottom: 0px;
    
}

h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: poke, sans-serif;
    font-size: x-small;


}

.scores{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #a2dae6;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
} 

.you{
    display: flex;
    text-align: center;
    flex-direction: column;
    background-image:  url('images/dialog.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 110%;
    padding: 10px; 
    max-width: 125px;
    font-family: poke, sans-serif;

}

.comp{
    display: flex;
    text-align: center;
    flex-direction: column;
    background-image:  url('images/dialog.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 110%;
    padding: 10px; 
    max-width: 125px;
    font-family: poke, sans-serif;
}

#yourScore{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 13px;

}

#compScore{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 0px;

}

button{
    display: flex;
    justify-content: center;
    border: 5px rounded black;
    font-family: inherit;
    font-size: smaller;
    padding: 3px;
}

.btns{
    display: flex;
    justify-content: center;
    gap: 60px;
}

#choices, #result, #displayWinner{
    text-align: center;
    margin: 5px;
    padding: 3px;
}

#choices {
    margin-top: 15px;
}
#displayWinner{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#hate{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    font-family: poke, sans-serif;
}

#bulbasaur, #squirtle, #charmander {
    width: 200px;
    height: 248px;
    
}

.middleSection{
    background-image: url('images/gba');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10px;
}

.bottomMiddle {
    background-image:  url('images/dialog.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 105% 100%;
    padding: 15px;
    margin: 25px 5px;  
    display: inline-flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-self: center; */
    font-family: poke, sans-serif;
    font-size: 70%;
   
}

#dialogueBox{
    display: flex;
    justify-content: center;
}

#makeSelection {
     background-color: #EFFCD5;
     padding: 10px; 
     font-family: poke, sans-serif;
     font-size: medium; 
}

#keepScore{
    background-color: #c6f7d6;
     padding: 10px; 
     font-family: poke, sans-serif;
     font-size: medium; 
}
