html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body{
    background-color: #f1e1a6;
}

h1{
    display:flex;
    justify-content: center;
    background-color: #5EBDFC;
    margin: 0px;
}

h2{
    display:flex;
    justify-content: center;
    border: 4px solid black;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

h3{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid black;
}

.scores{
    display: flex;
    flex-direction: row;
    border: 4px dotted green;
    justify-content: center;
}

.you{
    display: flex;
    border: 4px solid black;
    text-align: center;
    flex-direction: column;
}

.comp{
    display: flex;
    border: 4px solid black;
    text-align: center;
    flex-direction: column;
}

#yourScore{
    display: flex;
    flex-direction: column;
    text-align: center;

}

#compScore{
    display: flex;
    flex-direction: column;
    text-align: center;
}

button{
    display: flex;
    justify-content: center;
    border: 4px solid black;
}

.btns{
    display: flex;
    justify-content: center;
    gap: 60px;
}

#choices, #result, #displayWinner{
    text-align: center;
    margin: 5px;
    padding: 3px;
}

#choices {
    margin-top: 15px;
}
#displayWinner{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#hate{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

#bulbasaur, #squirtle, #charmander {
    width: 200px;
    height: 248px;
    
}

.middleSection{
    background-image: url('images/gba');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10px;
}

.bottomMiddle {
    background-image:  url('images/dialog.png');
    background-position: center;
        /* top 50px left 50px,
        bottom 50px right 50px; */
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: 18% 115%;
    padding-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

